@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR:wght@300&display=swap);
.navbar-brand, h1, h2, h3, h4{
	font-family: 'Noto Serif';
}
h5{
	font-family: 'Noto Serif';
	font-size: 18px;
}
body{
	font-family: 'Nanum Gothic';
}
