<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- BMICalcualtor bmiCalc = new BMICalculator(); -->
	<bean id="bmiCalc"	class="com.edu.bmi.BMICalculator">
		<property name="lowWeight">
			<value>18.5</value>
		</property>
		<property name="normal">
			<value>23</value>
		</property>
		<property name="overWeight" value="25"></property>
		<property name="obesity">
			<value>33</value>
		</property>
	</bean>

	<!-- MyInfo myInfo = new MyInfo(); -->
	<bean id="myInfo"	class="com.edu.bmi.MyInfo">
		<property name="name" 	value="홍길동"></property>
		<property name="height"	value="178"></property>
		<property name="weight"	value="64"></property>
		<property name="hobby">
			<list>
				<value>무술연마</value>
				<value>등산</value>
				<value>음악감상</value>
				<value>산천유람</value>
			</list>
		</property>
		<property name="bmiCalculator">
			<ref bean="bmiCalc"/>
		</property>
	</bean>
	
</beans>




